{
  "[scss]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },

  "parser": "typescript",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}
